<h1>tester</h1>
<br>
<form action="/search" method="post">
  gender: <input type="text" name="gender">
  <input type="submit" value="send">
</form>


<form action="/pay" method="post">
  <!-- 注文情報などの情報ここから -->
  order_id: <input type="text" name="order_id"> <br>
  price: <input type="number" name="price"> <br>
  email: <input type="email" name="email"> <br>
  name: <input type="text" name="name">


  <!-- 注文情報などの情報ここまで -->
  <script src="https://checkout.pay.jp/" class="payjp-button" data-key="pk_test_507ffc17307915901d77ad88"></script>
</form>






